
/*This is the flexbox of the skills section*/
.container{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    
}

/*This is the text "html" */
.text-above1{
    position: absolute;
    top: 100px;
    left: 140px;
    color: beige;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: 3px solid beige;
    padding: 5px;
}

/*This is the text "css" */
.text-above2{
    position: absolute;
    top: 100px;
    left: 480px;
    color: beige;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: 3px solid beige;
    padding: 5px;
}

/*This is the text "javascript" */
.text-above3{
    position: absolute;
    top: 100px;
    left: 780px;
    color:beige;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: 3px solid beige;
    padding: 5px;
}

/*This is the text "sql" */
.text-above4{
    position: absolute;
    top: 100px;
    left: 1100px;
    color: beige;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: 3px solid beige;
    padding: 5px;
}


footer{
    background-color:rgb(34, 35, 51);
    margin-bottom: -80px;
    width: 1585px;
    margin-left: -10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgba(205, 212, 216, 0.972);
}

nav ul li {
    display: inline-block;
}

h1{
    text-align: center;
}

footer ul li {
    display: inline-block;
}

/*This is the contact information flexbox */
.contact{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

#About-Me{
    height: 200px;
    width: 400px;
    margin-top: 30px;
    padding-left: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: seashell;
}

body{
    background-image: 
    url('https://img.wallpapersafari.com/desktop/1680/1050/45/47/jMsbY2.jpg');
}

h1{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width:400px;
    height: 50px;
    text-align: center;
    margin-left: 500px;
    color: seashell;

}

#Contact-Nav{
    margin:20px;
}   

#About-Nav{
    margin-left:10px;
}

#Skills-Nav{
    margin-left:20px;
}

nav{
    
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/*This is the text navegation bar */
a {
    color: #ffffff;
    text-decoration: none;
}


#github{
  margin-left: 30px;
}

#email{
  margin-left:30px;
}

#html:hover{
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

#css:hover{
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

#javascript:hover{
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

#sql:hover{
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

h2{
    color: seashell;
}


header{
    display: flex;
    flex-wrap: wrap;
}
